{% extends 'base.html.twig' %}

{% block title %}Pediatrie Floresti | Termeni și condiții{% endblock %}

{% block body %}
    <div class="row">
        <div class="section-title">Termeni și condiții pentru consultanță On Line</div>
    </div>
    <div class="row terms-text">
        <div class="col-md-2"></div>
        <div class="col-md-8">
PREAMBUL
<br>De la început PAEDIATRICS BEST PRACTICE SRL, dorește să sublinieze faptul că informația prezentată pe platforma noastră are un caracter suplimentar care completează recomandările oferite de medicii specialiști.
NU trebuie să utilizați platforma de consultanță online pentru necesitățile medicale de URGENȚĂ.
<br>Scopul platformei este acela de a vă furniza informații generale, în funcție de prezentarea cazului și de documentele pe care dvs. alegeți să le furnizați atunci când cereți o evaluare de caz.
<br>Vă rugăm să utilizați platforma doar în scopul obținerii de informații generale pentru o înțelegere cât mai bună a stării dvs. de sănătate.
<br>Platforma de consultanță online NU furnizează sfaturi medicale similare celor oferite de medicii care vă consultă în persoană și NU are ca scop înlocuirea consultului medical de specialitate.
<br>Recomandăm utilizatorilor platformei să NU își fundamenteze acțiunile viitoare doar pe sfaturile oferite în cadrul platformei, deoarece aceste sfaturi nu înlocuiesc un diagnostic medical, care necesită consultarea în persoană a unui medic specialist. Răspunsurile oferite prin intermediul platformei sunt doar de natură educațională și nu pot fi considerate, în absolut nicio situație ca fiind echivalente unor consultații sau analize medicale de specialitate.
<br>De asemenea recomandările oferite de platforma de consultanță online trebuie discutate cu medicul dvs. Curant înainte de a fi implementate, deoarece atât platforma, cât și toți colaboratorii platformei NU pot fi considerați răspunzători pentru niciun prejudiciu de orice natură.
<br>I. Termeni generali și definiții:
<br>1.1 . PAEDIATRICS BEST PRACTICE SRL, este persoană juridică, cu sediul social în Florești, str. Porii, nr. 154, ap. 22, jud. CLUJ, înmatriculată la O.R.C. sub nr. J12/1806/2017, CUI 37437978, Tel: 0757 995 567, E-mail: pedi.floresti@yahoo.com.
S.C. PAEDIATRICS BEST PRACTICE SRL este numit în continuare Furnizor.
<br>1.2. Utilizatorul poate fi orice persoană fizică care are acces liber la platformă și care poate completa rubrica special destinată pentru a lăsa o solicitare furnizorului de servicii. Platforma nu este un site pentru revânzători.
<br>1.3. Conținut reprezintă toate informațiile de pe platformă care pot fi vizualizate prin intermediul unui echipament electronic; conținutul tuturor e-mail-urilor trimise de Utilizator/Vizitator, către Furnizor și orice alt mijloc de comunicare disponibil.
<br>1.4. Serviciul este un document electronic definit ca modalitate de comunicare între Furnizor și Utilizator/Vizitator utilizat pentru a exprima intenția de obține sfaturi medicale prin intermediul platformei de consultanță online.
<br>1.5. Colaboratorii sunt medici specialiști care oferă răspunsuri la întrebările Utilizatorilor prin intermediul platformei de consultanță online.
<br>1.6. Utilizarea site-ului de către utilizator presupune implicit acceptarea tacită și fără rezerve a acestor termeni și condiții, cu toate consecințele care reies din acestea.
<br>1.7. PAEDIATRICS BEST PRACTICE SRL își rezervă dreptul de a aduce modificări și actualizări ale acestor termeni și condiții fără o notificare prealabilă și fără precizarea motivelor.
<br>1.8. Termenii și condițiile de mai jos au valoare contractuala între PAEDIATRICS BEST PRACTICE SRL numit în continuare Furnizor și Client/ Vizitator.
<br>1.9. Neacceptarea acestor Termeni și Condiții, atrage obligația Utilizatorului de a înceta de îndată accesarea platformei. Accesarea sau vizitarea în continuare a platformei, a oricărei pagini din aceasta și/sau utilizarea Serviciului, precum și a oricărei componente a acestora constituie o acceptare în întregime și necondiționată a Termenilor și Condițiilor.
<br>1.10. Utilizatorul înțelege și acceptă în mod expres, în întregime și necondiționat, prevederile acestor Termeni și Condiții și înțelege să utilizeze Serviciul în strictă conformitate cu aceste prevederi. Neacceptarea Termenilor și Condițiilor de către Utilizatori atrage obligația acestora de a înceta de îndată accesarea platformei.
<br>1.11. Dacă nu sunteți de acord cu prevederile acestor Termeni și Condiții, vă rugăm să nu utilizați Serviciile oferite de către platforma de consultanță online.
<br>II. Informații pentru utilizatori/vizitatori
<br>2.1. pediatrie-floresti.ro vă recomandă:
<br>a) să furnizați date adevărate, exacte și complete despre dvs., care să ajute colaboratorii în vederea oferirii sfaturilor și opiniilor personale:
<br>b) să utilizați posibilitatea de a menține, înnoi și șterge datele furnizate în orice moment;
<br>c) să citiți cu atenție Termenii și condițiile.
<br>III. Tarife și plăți
<br>3.1 . În ceea ce privește serviciile contra cost disponibile prin intermediul platformei de consultanță online, Utilizatorul se obligă să achite către PAEDIATRICS BEST PRACTICE SRL tariful pentru respectivele servicii, potrivit informațiilor disponibile pe platforma pediatrie-floresti.ro în termen de 24 ore de la emiterea facturii.
<br>3.2. PAEDIATRICS BEST PRACTICE SRL , prin platforma pediatrie-floresti.ro nu va pretinde și Utilizatorul nu este obligat sa plătească vreun tarif suplimentar în afara de cele menționate pe platforma.
<br>3.3. Utilizatorul nu poate cere rambursarea acestui tarif în nicio situație în care a încălcat oricare din prevederile prezentelor Termeni și condiții.
<br>3.4. PAEDIATRICS BEST PRACTICE SRL își rezerva dreptul de a schimba tarifele pentru oricare dintre Servicii și de a stabili noi tarife în orice moment, potrivit propriei sale opțiuni. Orice modificare de tarife va deveni operantă imediat după notificarea în acest sens a Utilizatorului (prin e-mail sau prin afișarea acesteia pe Platforma), potrivit opțiunii PAEDIATRICS BEST PRACTICE SRL.
<br>IV. Securitatea datelor personale
<br>4.1. Pentru a putea face posibilă comunicarea între PAEDIATRICS BEST PRACTICE SRL și Client/Utilizator, de pe site-ul pediatrie-floresti.ro, trebuie sa fiți de acord ca PAEDIATRICS BEST PRACTICE SRL să colecteze și să prelucreze datele înscrise în fișa de evaluare, conform Regulamentului (UE) 2016/679.
<br>4.2. Datele personale furnizate către Furnizor vor fi folosite numai în scopul declarat al acestui site.
Acestea vor fi utilizate pentru a comunica cu vizitatorul, pentru a răspunde prompt întrebărilor acestuia, pentru a realiza statistici proprii, pentru informarea prin email sau alte mijloace de comunicare despre acțiunile ulterioare, eventualele promoții, buletinele informatice periodice, newsletter-e, etc.
<br>4.3. Sunteți obligat(ă) să furnizați datele, acestea fiind necesare pentru a lua legătura cu furnizorul. Refuzul dumneavoastră determină imposibilitatea de a lua legătura cu dumneavoastră și de a vă furniza informațiile solicitate.
<br>4.4. Informațiile primite de la client sau utilizator, nu vor fi puse la dispoziția niciunei persoane fizice, juridice, instituții, etc., decât în cazul în care sunt solicitate justificat de către autoritățile în drept.
Respectăm și garantăm confidențialitatea datelor oferite de bunăvoie de către client sau vizitator.
<br>4.5. PAEDIATRICS BEST PRACTICE SRL garantează faptul că va respecta drepturile conferite de Regulamentului (UE) 2016/679 pentru protecția persoanelor cu privire la prelucrarea datelor cu caracter personal și libera circulație a acestor date.
<br>4.6. Orice utilizator care a furnizat explicit pe platforma pediatrie-floresti.ro adresa sa de email poate solicita ștergerea datelor personale din baza noastră de date printr-o cerere în scris trimisă companiei noastre.
<br>4.7. Datele dumneavoastră cu caracter personal, sunt prelucrate în conformitate cu reglementările Regulamentului (U.E.) 2016/679. Vă rugăm să rețineți faptul că ne puteți cere în orice moment să vă ștergem contul de pe site-ul nostru, trimițându-ne un mail la adresa pedi.floresti@yahoo.com.
<br>4.8. Folosim Google Analytics și Facebook Insights pentru a analiza modul de utilizare a acestui website.
Google Analytics generează informații statistice și nu numai, despre utilizarea site-ului prin intermediul cookie-urilor stocate. Informațiile generate din fișierele cookie sunt folosite pentru crearea rapoartelor de utilizarea ale site-ului nostru sau pentru a individualiza anunțurile pe care vi le afișăm, pentru a va oferi informații mai relevante. Google și Facebook stochează aceste informații.
Vă invităm să consultați politica de confidențialitate Google LLC (Mountain View, California – USA) aici: www.google.com/privacypolicy.html și Facebook INC (Menlo Park, California – USA) aici www.facebook.com/privacy .
Pentru orice întrebări legate de această Politică de confidențialitate, vă rugăm să ne contactați la adresa pedi.floresti@yahoo.com.
<br>V. Drepturi de autor
<br>5.1. Întregul conținut al site-ului – imagini, fotografii, texte, grafice, simboluri, elemente de grafica web, scripturi, programe și alte date – este proprietatea Furnizorului și este apărat de legea pentru protecția drepturilor de autor și de legile privind proprietatea intelectuala și industriala. Folosirea, preluarea, copierea sau modificarea fără acordul Furnizorului a oricăror elemente enumerate mai sus, chiar dacă aceste elemente poartă marcaje de protecție, atrage după sine consecințele prevăzute de legislația în vigoare. Pentru a ne sesiza orice încălcare privind legea pentru protecția drepturilor de autor, ne puteți contacta la adresa de e-mail: pedi.floresti@yahoo.com.
<br>5.2. Accesul liber la site și la conținutul site-ului și utilizarea lor sunt permise doar pentru uz personal, fără scop direct ori indirect comercial. Copierea, stocarea, modificarea ori transferarea cu orice titlu, în parte ori întreg al site-ului și/sau al conținutului nu sunt permise fără acordul explicit, scris, al Furnizorului și sunt sancționate potrivit legislației în vigoare.
<br>5.3 . Conținutul și elementele de grafica ale platformei pediatrie-floresti.ro, inclusiv, dar fără a se limita la acestea, întreg conținutul în format text și orice alt material, transmis sub orice forma de și către Utilizatori (prin vizualizare directa pe platforma , prin newslettere sau prin orice alte materiale legate direct sau indirect de platforma) aparțin PAEDIATRICS BEST PRACTICE SRL și partenerilor săi și reprezintă conținutul platformei pediatrie-floresti.ro.
<br>5.4. Prin derogare de la prevederea precedenta, nu aparțin PAEDIATRICS BEST PRACTICE SRL sau partenerilor săi acele materiale pentru care pe platforma pediatrie-floresti.ro este indicat un alt titular de drepturi, ori un alt deținător sau o altă sursă.
<br>5.5. Utilizatorii înțeleg și accepta ca PAEDIATRICS BEST PRACTICE SRL este exonerat de orice răspundere privind materialele, datele și informațiile, dar fără a se limita la acestea, preluate de la orice surse oficiale, inclusiv cele care au fost publicate având scopul și caracterul de „comunicate de presa”.
<br>5.6. Utilizatorii înțeleg și accepta ca toate informațiile, datele, materialele postate pe pediatrie-floresti.ro au doar un caracter informativ și orientativ și ca PAEDIATRICS BEST PRACTICE SRL nu poate fi tras la răspundere în niciun caz și în niciun mod pentru veridicitatea și validitatea conținutului platformei pediatrie-floresti.ro sau pentru orice efect juridic decurgând din utilizarea acesteia.
<br>5.7. Utilizatorii se obliga sa respecte toate drepturile de autor și drepturile conexe acestuia și orice alte drepturi de proprietate intelectuala pe care PAEDIATRICS BEST PRACTICE SRL și partenerii săi le dețin asupra/în legătură cu pediatrie-floresti.ro, Conținutul acesteia, Serviciul, orice modul sau componentă a acestora sau în legătură cu utilizarea acestora. Utilizatorii înțeleg și acceptă ca în cazul încălcării vreunei prevederi de mai sus în orice măsura, vor putea fi trași la răspundere față de autorii/proprietarii conținutului platformei pediatrie-floresti.ro.
<br>5.8. pediatrie-floresti.ro, poate fi utilizat exclusiv în scopuri personale, definite potrivit prezentului document ca fiind scopuri pur necomerciale, fără nicio intenție directă ori indirectă privind obținerea de profituri sau câștiguri de orice fel dintr-o asemenea utilizare. Orice utilizare de conținut de către terțe persoane în orice alte scopuri decât cele personale se poate face numai cu acordul scris, expres și prealabil al PAEDIATRICS BEST PRACTICE SRL .
<br>5.9. Este interzisa copierea, preluarea, reproducerea, publicarea, transmiterea, vânzarea, distribuția totala sau parțială, integrala sau modificata a conținutului pediatrie-floresti.ro sau a oricărei părți a acestuia efectuate în orice alte scopuri decât cele personale; PAEDIATRICS BEST PRACTICE SRL își rezerva dreptul de a acționa în instanță orice persoana și/sau entitate care încalcă în orice mod prevederile de mai sus.
<br>5.10. Cererile de utilizare a conținutului platformei în orice scopuri decât cele personale pot fi trimise la adresa de email pedi.floresti@yahoo.com.
<br>5.11. Este strict interzisă postarea pe pediatrie-floresti.ro a oricărui conținut, incluzând materiale, comentarii, imagini, secvențe video, dar fără a se limita la acestea, care au un limbaj obscen sau vulgar, conțin texte ilegale, amenințătoare, abuzive, indecente, mesaje rasiste, șoviniste ori care ar putea discrimina orice persoane în orice mod sau care ar încalcă orice alte drepturi și libertăți ale omului potrivit legislației în vigoare.
<br>5.12. Utilizatorii înțeleg și accepta ca în cazul încălcării în orice mod și în orice măsura a oricărora din prevederile Termenilor și Condițiilor, PAEDIATRICS BEST PRACTICE SRL va putea opta în mod discreționar pentru suspendarea totala sau parțială a accesului Utilizatorului la orice serviciu al platformei pediatrie-floresti.ro, ori pentru nepublicarea oricărui conținut expediat de Utilizator în vederea postării către platforma ori pentru modificarea în orice mod a unui asemenea conținut, pentru interzicerea definitiva a accesului la una sau mai multe dintre facilitățile oferite de pediatrie-floresti.ro sau pentru desființarea contului Utilizatorului pe pediatrie-floresti.ro, fără niciun fel de atenționări sau notificări prealabile și fără a fi necesare orice alte formalități înainte.
<br>VI. Neangajarea răspunderii
<br>6.1. PAEDIATRICS BEST PRACTICE SRL nu își asuma răspunderea pentru nici o pierdere de date sau informații rezultate din întârzieri, cauzate de evenimente care nu sunt sub controlul pediatrie-floresti.ro, al furnizorilor săi sau prin erori de omisiune din partea utilizatorului.
<br>6.2 . PAEDIATRICS BEST PRACTICE SRL exclude orice sugestie sau garanție ca:
<br>a) serviciul să fie neîntrerupt sau fără erori;
<br>b) eventualele defecte vor fi corectate;
<br>c) serviciul sau serverul care îl pune la dispoziția utilizatorului este lipsit de viruși sau alte componente care ar putea dauna utilizatorilor și nu poate fi responsabil de vreo acțiune pe care o întreprindeți pe baza respectivelor informații sau a serviciului.
<br>6.3. În nicio circumstanță PAEDIATRICS BEST PRACTICE SRL nu poate fi responsabilă pentru pierderi de natură directă sau indirectă rezultate din/sau legate în orice fel de folosirea sau gradul de performanta al serviciului/serviciilor oferit/oferite, a acestui site web sau site-uri web în legătură cu acesta.
<br>6.4. PAEDIATRICS BEST PRACTICE SRL nu va acorda nici o garanție referitoare la:
<br>a) evitarea utilizării anevoioase sau întreruperi în utilizare a site-ului,
<br>b) neafectarea în sens negativ a altor sisteme prin utilizarea site-ului.
<br>6.5. PAEDIATRICS BEST PRACTICE SRL (pediatrie-floresti.ro) nu își asumă nici o responsabilitate în cazul în care site-ul nu poate fi accesat de către utilizatori, pe o perioada nelimitata de timp, din orice motive tehnice sau comerciale.
<br>6.6. PAEDIATRICS BEST PRACTICE SRL (pediatrie-floresti.ro) își rezervă dreptul ca în orice moment să schimbe în parte sau în totalitate conținutul informațiilor prezentate pe site, fără o notificare prealabilă a Utilizatorului respectiv a Furnizorului.
<br>6.7. PAEDIATRICS BEST PRACTICE SRL (pediatrie-floresti.ro) nu oferă nici o garanție în ceea ce privește starea de funcționare a computerului personal al Utilizatorului respectiv a Furnizorului.
<br>6.8. PAEDIATRICS BEST PRACTICE SRL (pediatrie-floresti.ro) își rezervă dreptul de a suspenda sau desființa acest site fără o notificare prealabila a Utilizatorului.
<br>VII. Utilizarea serviciilor de către minori
<br>7.1. PAEDIATRICS BEST PRACTICE SRL nu permite cu bună știința persoanelor sub vârsta de 18 ani să acceseze pediatrie-floresti.ro.
<br>7.2. Serviciile sunt disponibile pentru utilizarea de către minori însă doar în prezența și asistați de către părintele sau tutorele legal al acestuia.
<br>7.3. Dacă vă înregistrați ca părintele sau tutorele legal în numele unui minor, veți fi pe deplin responsabil pentru conformarea cu acești Termeni de Utilizare.
<br>VIII. Forță majoră
<br>8.1. Forța majoră exonerează de răspundere partea care o invocă, conform prevederilor Codul civil (art.1351 N.C.C.).
<br>8.2. Forța majoră este orice eveniment extern, imprevizibil, absolut invincibil și inevitabil iar cazul fortuit este un eveniment care nu poate fi prevăzut și nici împiedicat de către cel care ar fi fost chemat să răspundă dacă evenimentul nu s-ar fi produs.
<br>8.3. Partea care invocă forța majoră are obligația să o aducă la cunoștința celeilalte părți, în scris, în maximum 5 (cinci) zile de la apariție, iar dovada forței majore se va comunica în termen de 15 (cincisprezece) zile de la apariție. Data de referință este data ștampilei poștei de expediere. Dovada va fi certificată de Camera de Comerț și Industrie sau de un alt organism abilitat de legea română. Partea care a invocat forța majoră are obligația să aducă la cunoștința celeilalte părți încetarea acestei cauze în maximum 15 (cincisprezece) zile de la încetare.
<br>IX. Litigii
<br>9.1. Orice conflict apărut între Client/Utilizator și Furnizor va fi rezolvat pe cale amiabilă prin înțelegere între cele două părți.
<br>9.2. În cazul în care acest lucru nu este posibil, competența revine instanțelor de judecată romane, instanța judecătorească pe a cărei raza teritoriala se află sediul PAEDIATRICS BEST PRACTICE SRL.
<br>X. Medicii colaboratori
<br>10.1. Utilizatorii înțeleg și accepta ca medicii colaboratori care oferă răspunsuri prin intermediul pediatrie-floresti.ro nu sunt angajați ai PAEDIATRICS BEST PRACTICE SRL și nu se poate considera că își exercită profesia de medic ca persoana fizică independenta pe baza de contract încheiat cu PAEDIATRICS BEST PRACTICE SRL , în sensul art. 385 alin. (3) din Legea nr. 95/2006 privind reforma în domeniul sănătății („Legea nr. 95/2006”).
Din cele prezentate mai sus, rezulta faptul ca aceștia sunt exonerați de orice răspundere pentru oferirea de informații medicale prin intermediul pediatrie-floresti.ro
<br>10.2. Utilizatorii înțeleg și acceptă ca medicii colaboratori nu sunt răspunzători pentru daunele și prejudiciile produse în exercitarea profesiunii când acestea se datorează condițiilor de lucru sau când acționează cu bună-credință în situații de urgenta, cu respectarea competenței acordate.
Din cele prezentate mai sus, rezultă că medicii colaboratori vor fi exonerat i în totalitate de răspundere în temeiul art.10.2 de mai sus, coroborat cu art. 654 (2) din Legea nr. 95/2006.
<br>10.3. Utilizatorii înțeleg și acceptă ca pediatrie-floresti.ro nu este o unitate sanitară publica sau privată, care furnizează servicii medicale, așadar nu i se poate angaja răspunderea în temeiul art. 657 din Legea nr. 95/2006 sau pe baza oricărui alt temei legal.
Utilizatorii înțeleg și acceptă expres dispozițiile prevăzute în art. 10(1),10(2),10(3) de mai sus, potrivit art. 1203 Cod Civil.
<br>XI. Dispoziții finale
<br>11.1. Furnizorul își rezervă dreptul de a putea efectua orice modificări ale acestor prevederi, precum și orice modificări asupra Site-ului, structurii acestuia sau orice alte modificări ce ar putea afecta Site-ul, fără a fi necesară vreo notificare prealabilă a vizitatorului sau a clientului.
<br>11.2. Furnizorul nu va putea fi făcut responsabil pentru eventualele erori apărute pe Site din orice cauză, inclusiv din cauza unor modificări sau setări care nu sunt făcute de administratorul Site-ului.
<br>11.3. Este interzis sa cesionați sau să transferați aceste Condiții, fie integral, fie parțial, fără a avea acordul prealabil în scris din partea PAEDIATRICS BEST PRACTICE SRL.    
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
