{% extends 'base.html.twig' %}

{% block title %}Pediatrie Floresti | Termeni și condiții{% endblock %}

{% block body %}
    <div class="row">
        <div class="section-title">Termeni și condiții pentru consultanță On Line</div>
    </div>
{% endblock %}
