.footer-credits {
    background-color: cadetblue;
    padding: 20px 30px;
}

.footer-pages {
    background-color: #3c6465;
    padding: 20px;
    margin-top: 30px;
}

.footer-title {
    font-size: 16px;
    font-weight: bold;
    border-bottom: black 1px solid;
    padding: 10px;
}

.footer-company {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

.footer-content {
    font-size: 14px;
    padding: 10px;
    line-height: 2;
}

.footer-content a {
    text-decoration: none;
    color: black;
}

.copyright-text {
    float: left;
}

.design-by {
    float: right;
}

.header {
    padding: 20px 0px 20px 0px;
}

.logo img {
    height: 80px;
}

.menu {
    text-align: center;
    align-items: center;
}

.menu div {
    padding-top: 10px;
}

.menu a {
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
    margin-top: 5px;
    border-bottom: gray 1px solid;
}

.menu a:hover {
    border-bottom: black 2px solid;
}

.menu ul {
    padding: 10px 10px 10px 10px;
    margin: 0;
    float: right;
}

.menu ul li {
    display: inline;
    padding: 0px 10px 0px 10px;
}

.banner {
    text-align: center;
    padding: 130px 0px 130px 0px;
    background-image: url("/assets/images/gallery/image-24.jpg");
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .welcome {
    padding: 20px;
    background-color: rgba(256,256,256,0.5);
    border-radius: 10px;
}

.banner .welcome span {
    font-size: 25px;
    text-transform: uppercase;
}

.banner .btn {
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    font-size: large;
}

.section .section-about img {
    width: 100%;
    padding: 20px 0;
}

.section .section-about {
    text-align: justify;
}

.section-title {
    font-size: 28px;
    margin: 0 auto;
    padding: 30px 0px 30px 0px;
}

.prices {
    padding: 0px 30px 0px 30px;
    margin: 0 auto;
}

.prices td {
    border: black 1px solid;
    padding: 5px;
    text-align: center;
}

.prices .table-header {
    font-weight: bold;
}

.form {
    padding: 20px;
}

.form .error {
    font-size: 10px;
    color: red;
}

.consultation-about {
    font-size: 13px;
    padding: 20px;
    text-align: justify;
}

.consultation-confirmation {
    background-color: #e2e3e5;
    border-color: #d6d8db;
    padding: 10px;
    border-radius: 3px;
}

.gallery-caroussels {
    padding-bottom: 100px;
}

.gallery-images ul {
    list-style: none;
}

.gallery-images li {
    float: left;
    padding: 10px;
}

.gallery-images img {
    padding-bottom: 10px;
}

.testimonials {
    background-color: cadetblue;
}

#carousel-testimonials {
    width: 100%;
    padding: 30px 15% 30px 15%;
}

.form-login {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
}

.terms-text {
    font-size: 13px;
    text-align: justify;
}

/* Util */
.clear {
    clear: both;
}