<p>Bună ziua!</p>

<p>
O nouă consultație a fost creată.
</p>

<p>
<a href="{{ url('easyadmin') }}">Click aici</a> pentru a o vizualiza în pagina de gestiune.
</p>

<p>
O zi frumoasă.<br>
Dr Monica Burlacu.
</p>