<p>Bună ziua!</p>
<p>
Solicitarea dumneavoastră a fost înregistrată.<br>
In maxim 6-12 ore o să vă contactam telefonic pentru stabilirea programării.
</p>

<p>
Va mulțumim pentru înțelegere.
</p>

<p>
O zi frumoasă.<br>
Dr Monica Burlacu.<br>
</p>